<h1>Please add a new list:</h1>

<form action="/animals" method="post">
  <div class="form-group">
    <label for="name">Please enter the animals name:</label>
    <input id="name" name="name" type="text">
    <br>
    <label for="sex">Please enter the animals sex:</label>
    <input id="sex" name="sex" type="text">
    <br>
    <label for="date">Please enter the animals arrival date (yyyymmdd):</label>
    <input id="date" name="date" type="text">
    <br>
    <label for="type">Please enter the animals type (f.e. cat):</label>
    <input id="type" name="type" type="text">
    <br>
    <label for="breed">Please enter the animals breed:</label>
    <input id="breed" name="breed" type="text">
    <br>
    <label for="customer_id">Please enter the owners/caretakers id</label>
    <input id="customer_id" name="customer_id" type="number">
    <br>
  </div>

  <button type="submit" class="btn-success">Add List</button>
</form>
