<h1>Add a new customer:</h1>

<form action="/customers" method="post">
  <div class="form-group">
    <label for="name">Please enter the animals name:</label>
    <input id="name" name="name" type="text">
    <br>
    <label for="phone">Please enter the customer's phone:</label>
    <input id="phone" name="phone" type="text">
    <br>
    <label for="breed_pref">Please enter the customer's breed preference:</label>
    <input id="breed_pref" name="breed_pref" type="text">
    <br>
    <label for="type_pref">Please enter the customer's type preference:</label>
    <input id="type_pref" name="type_pref" type="text">
    <br>
    <label for="breed">Please enter the animals breed:</label>
    <input id="breed" name="breed" type="text">
    <br>
    <label for="caretaker">Please enter if the customer is a caretaker</label>
    <input id="caretaker" name="caretaker" type="boolean">
    <br>
  </div>

  <button type="submit" class="btn-success">Add Customer</button>
</form>
