<h1>Welcome to the Animal-Shelter Management tool</h1>

<div class="container">
  <a href="/customers">View All Customers!</a>
  <a href="/customers/new">Add A New Customer!</a>
  <a href="/animals">View All Animals!</a>
  <a href="/animals/new">Add A New Animal!</a>
</div>
